<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <%- include("../partials/navbar") %>

    <div class="about-main">
      <div class="about-heading">
        <p>Bridging Cultures Through Authentic Asian Flavors</p>
      </div>
      <div class="about-par1">
        <p>
          Whether Sanzo is a taste of home or a source of discovery, we're
          celebrating iconic Asian flavors in their most refreshing form.
        </p>
        <div class="about-img">
          <img src="/img/about-slice.svg" alt="" />
          <img src="/img/header-image2.svg" alt="" />
          <img src="/img/header-img.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="about-welcome-wrap">
      <div class="about-welcome">
        <h1>Welcome</h1>
        <p>
          At Sanzo, we believe in the power of flavor to connect cultures and
          generations.
        </p>
        <br />
        <p>
          Founded with a passion for celebrating the rich heritage of Asian
          flavors, our drinks bring vibrant Asian fruit flavors to modern
          palates—without the excess sugar.
        </p>
        <br />
        <p>
          Inspired by our founder, Filipino-American Sandro Roco, and his desire
          to bridge cultures, Sanzo started with a simple mission: to highlight
          bold unique Asian flavors he loved growing up.
        </p>
      </div>
      <img src="/img/jimmy.jpg" alt="Jimmy" />
    </div>
    <div class="about-info">
      <p>
        Each can of Sanzo is crafted with the finest real ingredients, offering
        a refreshing experience that honors the authenticity of these bold,
        beloved flavors.
      </p>
      <p>
        <br />
        Whether you’re rediscovering familiar flavors or trying something new,
        our beverages deliver the essence of fruits like calamansi, lychee, and
        yuzu—made with care, tradition, and a commitment to quality.
      </p>
    </div>

    <%- include("../partials/footer") %>
    <script src="/js/main.js"></script>
  </body>
</html>
